.expand-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: var(--icon-color);
    font-size: var(--icon-size);
    z-index: 1;
    top: 10px;
    transition: all ease-in-out .3s;
}

.img {
    width: clamp(300px, 30vw, 400px);
    transition: all ease-in-out .3s;
}

.image-holder {
    position: relative;
    transition: all ease-in-out .3s;
}

.image-holder:hover .img {
    transform: scale(var(--hover-scale)); /* Correct usage of scale */
    box-shadow: -2px 2px 9px -1px rgba(76,20,77,0.7);
    -webkit-box-shadow: -2px 2px 9px -1px rgba(76,20,77,0.7);
    -moz-box-shadow: -2px 2px 9px -1px rgba(76,20,77,0.7);
    transition: all ease-in-out .3s;
}

.image-holder:hover .expand-icon svg {
    transform: scale(var(--hover-scale)); /* Correct usage of scale */
    transition: all ease-in-out .3s;
}

.image-footer {
    position: absolute;
    bottom: 15px; 
    right: 10px;
}

.like-icon {
    color: var(--icon-color);
    font-size: var(--icon-size);
    cursor: pointer;
}

.like-count {
    margin: 0;
    font: bold 15px "Fira Sans", sans-serif;
    color: var(--icon-color);
}