.expand-icon {
    cursor: pointer;
    color: var(--icon-color);
    font-size: var(--icon-size);
    transition: all ease-in-out .3s;
    z-index: 1;
}

.image-holder {
    position: relative;
    opacity: 0;
    transition: all ease-in-out .3s;
}

.image-side {
    position: absolute;
    right: 20px;
    top: 10px;
}

.image-holder:hover .expand-icon svg {
    transform: scale(var(--hover-scale)); /* Correct usage of scale */
    transition: all ease-in-out .3s;
}

.image-footer {
    position: absolute;
    bottom: 15px; 
    right: 10px;
}

.like-icon {
    color: var(--icon-color);
    font-size: var(--icon-size);
    cursor: pointer;
}

.like-count {
    margin: 0;
    font: bold 15px "Fira Sans", sans-serif;
    color: var(--icon-color);
}

.download-icon {
    font-size: var(--icon-size);
    color: var(--icon-color);
    z-index: 1;
    cursor: pointer;
}

.avatar {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
   .image-holder {
    width: 334px;
   }
}