
.image-container {
    display: grid;
    grid-template-columns: minmax(100px, 1245px);
    margin: 0 auto;
    width: fit-content;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    z-index: 4;
    column-gap: 14px;
}