
.image-container {
    display: grid;
    grid-template-columns: minmax(100px, 1245px);
    margin: 127px auto;
    width: fit-content;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
}