:root {
  --main-color: linear-gradient(to right top, #d16ba5, #ca7dbe, #bf8ed3, #b39fe4, #a8afef, #a1aeee, #9aacec, #92abeb, #8c99e0, #8a87d4, #8974c5, #8960b5);
  --hover-scale: 1.02;
  --icon-color: #fff;
  --icon-size: 20px;
  background-image: var(--main-color);
  height: 100vh;
}

.cube {
  width: 120px;
  height: 120px;
  margin: 3px;
  background-color: aqua;
}

.container {
  overflow: auto;
  height: 200px;
}
